@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

.navbar {
  top: 0;
  position: fixed;
  background-color: #27ae60;
  width: 100vw;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: "black" !important;
}

.icon {
  margin-top: 1vh;
  margin-left: 2vw;
  font-family: Darker Grotesque;
}

.nav-menu {
  margin-top: 1vh;
  margin-right: 2vw;
  right: 0;
  position: fixed;
}

.menu {
  font-family: Nunito;
}
.menu-item {
  font-size: 1.5vw;
  line-height: 3.5vw;
}

.card {
  width: 25vw;
  height: 30vh;
  background: #1b1b1b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.card-content {
  margin-left: 3vw;
  font-family: Darker Grotesque;
  font-weight: bold;
  color: #27ae60;
}
.home {
  margin-top: 25vh;
  margin-left: 10vw;
}

.stat-box {
  width: 25vw;
  height: 30vh;
}

.video {
  background: pink;
  height: 60vh;
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

#heart-rate {
  width: 100vw;
  height: 100vh;
  margin-left: 5vw;
  margin-top: 15vh;
}

.current-heart-rate {
  margin-top: 20vh;
  margin-left: 5vw;
}
